body {
  text-align: center;
  background-color: #eeeeee;
  color: #111111;
  font-family: "Open Sans", Tahoma, sans-serif;
}

main {
  width: 75%;
  margin: auto;
  border: 1px solid white;
}

h2, h3 {
  font-weight: normal;
}

h3 {
  text-decoration: underline;
}

input, button {
  margin: auto;
  display: block;
}

table {
  display: inline-block;
}

td {
  border-bottom: 1px solid white;
  padding: 5px 10px 5px 10px;
}

/*.addEmployee {
  float: left;
}*/
.payroll, .employees, .addEmployee, .deleteEmployee {
  display: inline-block;

  padding: 0 20px 15px 20px;
}

.payroll {
  vertical-align: middle;
}

.addEmployee, .deleteEmployee {
  vertical-align: top;
}

/*.deleteEmployee {
  margin-bottom: 15px;
}*/
