body {
  text-align: center;
  background-color: #eeeeee;
  color: #111111;
  font-family: Tahoma, sans-serif;
}

main {
  width: 75%;
  margin: auto;
  border: 1px solid white;
}

h1, h2, h3 {
  font-weight: normal;
}

input, button {
  margin: auto;
  display: block;
}

table {
  display: inline-block;
}

td {
  border-bottom: 1px solid white;
  padding: 5px 10px 5px 10px;
}

/*.addEmployee {
  float: left;
}*/
.addEmployee, .deleteEmployee {
  display: inline-block;
  padding: 0 20px 15px 20px;
}

/*.deleteEmployee {
  margin-bottom: 15px;
}*/
